* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: url(../img/bg-intro-desktop.png) rgb(203, 201, 240);
}

h1 {
    font-size: 4.8rem;
    text-align: left;
    padding: 10px 50px 10px 100px;
    margin-bottom: 10px;
}

.container {
    width: 80%;
    margin: 150px auto 150px auto;
}

.container-00, .container-01, .container-02, .container-03 {
    width: 50%;
    height: auto;
    float: left;
    display: block;
    color: white;
}

.caixa-01 {
    font-size: 1.8rem;
    line-height: 5rem;
    height: 50px;
    text-align: center;
    background-color: rgb(63, 7, 167);
    border-radius: 5px;
    width: 90%;
    margin: 20px auto 20px auto;
    filter: drop-shadow(0 8px 2px rgb(159, 150, 177)) ;
}

.container-02 {
    margin: 40px auto 80px auto;
}

.container-02 p {
    font-size: 1.5rem;
    padding: 0 0 0 100px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}